---

---

<footer
  class="w-full h-12 rounded-xl shadow text-gray-100 font-light hover:shadow-lg md:h-24 bg-red-400 dark:bg-red-700/60 dark:text-gray-100 flex items-center justify-between px-4 md:px-8"
>
  <div class="container mx-auto flex flex-col items-center justify-center">
    <div>POWER BY Jiabin Lan</div>
    <div>
        <a href="https://beian.miit.gov.cn/" target="_blank">桂ICP备2020007823号-4</a>
    </div>
  </div>
</footer>
