---

---

<header
  class="w-full h-12 md:h-16 bg-gray-100 dark:bg-gray-900 dark:text-gray-200 flex items-center justify-between px-4 md:px-8"
>
  <div class="fkex items-center justify-center text-xl md:text-2xl">
    LandonBlue's Blog
  </div>

  <ul class="list-none flex items-center justify-around gap-4">
    <li>
      <a href="/">Home</a>
    </li>

    <li>
      <a href="/">About</a>
    </li>
  </ul>
</header>
